<style>
  .card {
    font-family: serif;
    font-size: 16px;
    text-align: center;
    color: black;
    background-color: white;
  }

  .header {
    font-size: 200%
  }

  .item {
    font-weight: bold;
  }

  .subitem {
    font-weight: bold;
  }

  .entry {
    padding-left: 1em;
  }

  .definition {
    font-weight: normal;
  }

  .definition:before {
    content: "";
  }

  .example {
    font-weight: normal;
    display: block;
    color: rgba(148, 148, 148);
  }

  .example:before {
    content: "| ";
  }

  table,
  td {
    vertical-align: top;
    text-align: left;
    padding: 0px;
  }

  th {
    vertical-align: top;
    text-align: left;
    width: 20px;
  }
</style>

<div class='header'>
  {{Word}}<br>
</div>
<hr>
<div>
  {{Definitions}}
</div>